* {
  box-sizing: border-box;
}

:root {
  --primary-color: #143c3c;
  --text-color: #152427;
  --desc-color: #7d8188;
  --font-header: Public Sans, sans-serif;
  --font-footer: Public Sans, sans-serif;
}

html,
body {
  scroll-behavior: smooth;
  scroll-padding-top: 158px;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: "Poppins", sans-serif;
}

/* Common */
a {
  text-decoration: none;
}

input,
textarea,
select,
button {
  font-family: inherit;
  font-size: inherit;
}

.line-clamp {
  display: -webkit-box;
  -webkit-line-clamp: var(--line-clamp, 2);
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.container {
  width: 1140px;
  max-width: calc(100% - 40px);
  margin: 0 auto;
}

.btn {
  --height: 57px;
  display: inline-block;
  min-width: 173px;
  height: var(--height);
  padding: 0 20px;
  border-radius: 40px;
  border: 1.5px solid var(--primary-color);
  font-family: var(--font-header);
  font-weight: 500;
  font-size: 1.8rem;
  line-height: var(--height);
  text-align: center;
  color: #fff;
  background: var(--primary-color);
}

.btn:hover {
  opacity: 0.9;
  cursor: pointer;
}

/* Header top */
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: #fff;
  z-index: 1000;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.05);
  padding-top: 28px;
  font-family: var(--font-header);
}

.header-top {
  display: flex;
  align-items: center;
}

.navbar {
  margin-left: auto;
}

.navbar__list {
  display: flex;
  align-items: center;
}

.navbar__item {
  position: relative;
}

.navbar__link {
  padding: 8px 19px;
  font-weight: 500;
  font-size: 1.8rem;
  line-height: 1.56;
  color: #575d5e;
}

.navbar__link--active,
.navbar__link:hover {
  color: var(--text-color);
}

.navbar__link--active::after {
  position: absolute;
  left: 21px;
  bottom: -29px;
  content: "";
  display: inline-block;
  width: 16px;
  height: 2px;
  background: var(--primary-color);
}

.header-actions {
  display: flex;
  align-items: center;
  margin-left: 88px;
}

.header__line {
  margin-top: 13px;
  width: 100%;
  height: 1px;
  background: linear-gradient(
    90deg,
    #ffffff 0%,
    #dddcdc 51.09%,
    rgba(213, 213, 213, 0) 99.68%
  );
}

/* Hero */
.hero {
  margin-top: 158px;
}

.hero__block {
  display: flex;
  justify-content: space-between;
}

.hero__content {
  flex-shrink: 0;
  width: 34.5%;
}

.hero__heading {
  margin-top: 43px;
  max-width: 368px;
  font-weight: 800;
  font-size: 5rem;
  line-height: 1.2;
  color: var(--text-color);
}

.hero__desc {
  margin-top: 20px;
  font-weight: 500;
  font-size: 1.8rem;
  line-height: 1.56;
  color: #575d5e;
}

.hero__row {
  display: flex;
  align-items: center;
  margin-top: 42px;
}

.hero__watchvideo {
  display: flex;
  align-items: center;
  margin-left: 36px;
  cursor: pointer;
}

.hero__watchvideo-icon {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* vòng cung svg */
.hero__watchvideo-arc {
  position: absolute;
}

/* vòng tròn nền xanh */
.hero__watchvideo-circle {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background: #83a17d;
  z-index: 1;
}

.hero__watchvideo-text {
  margin-left: 15px;
  font-weight: 600;
  font-size: 1.8rem;
  line-height: 1.6;
  color: var(--text-color);
}

.hero__images {
  display: flex;
  column-gap: 20px;
  margin-right: 25px;
}

.hero__img {
  width: 202px;
  height: 466px;
  object-fit: cover;
  border-radius: 110px;
}

.hero__img:nth-child(2) {
  margin-top: 77px;
}

.hero__media {
  position: relative;
}

.hero__image--bg {
  position: absolute;
  width: 340px;
  height: 340px;
  border-radius: 340px;
  background: #4dbb9a;
  filter: blur(137px);
  bottom: 81px;
  right: 180px;
  z-index: -1;
}

.hero__images--decor-1 {
  position: absolute;
  top: -32px;
  left: -204px;
  z-index: 1;
}

.hero__images--decor-2 {
  position: absolute;
  transform: rotate(180deg);
  bottom: -64px;
  right: 0;
  z-index: 1;
}
