* {
  box-sizing: border-box;
}

:root {
  --primary-color: #143c3c;
  --text-color: #152427;
  --desc-color: #7d8188;
  --font-header: Public Sans, sans-serif;
  --font-footer: Public Sans, sans-serif;
}

html,
body {
  scroll-behavior: smooth;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: "Poppins", sans-serif;
}

/* Common */
a {
  text-decoration: none;
}

input,
textarea,
select,
button {
  font-family: inherit;
  font-size: inherit;
}

.line-clamp {
  display: -webkit-box;
  -webkit-line-clamp: var(--line-clamp, 2);
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.container {
  width: 1140px;
  max-width: calc(100% - 40px);
  margin: 0 auto;
}

.btn {
  --height: 57px;
  display: inline-block;
  min-width: 173px;
  height: var(--height);
  padding: 0 20px;
  border-radius: 40px;
  border: 1.5px solid var(--primary-color);
  font-family: var(--font-header);
  font-weight: 500;
  font-size: 1.8rem;
  line-height: var(--height);
  text-align: center;
  color: #fff;
  background: var(--primary-color);
}

.btn:hover {
  opacity: 0.9;
  cursor: pointer;
}

/* Header top */
.fixed {
  position: sticky;
  top: -16px;
  z-index: 1;
}

.header {
  padding-top: 28px;
}

.header-top {
  display: flex;
  align-items: center;
}

.navbar {
  margin-left: auto;
}

.navbar__list {
  display: flex;
  column-gap: 38px;
}

.navbar__link {
  font-family: var(--font-header);
  font-weight: 500;
  font-size: 1.8rem;
  line-height: 1.56;
  color: #575d5e;
}

.navbar__link--active,
.navbar__link:hover {
  color: var(--text-color);
}

.navbar__link--active::after {
  position: relative;
  left: 2px;
  bottom: -28px;
  content: "";
  display: flex;
  width: 16px;
  height: 2px;
  background: var(--primary-color);
}

.header-actions {
  display: flex;
  align-items: center;
  margin-left: 88px;
}

.header__line {
  margin-top: 13px;
  width: 100%;
  height: 1px;
  background: linear-gradient(
    90deg,
    #ffffff 0%,
    #dddcdc 51.09%,
    rgba(213, 213, 213, 0) 99.68%
  );
}
