* {
  box-sizing: border-box;
}

:root {
  --primary-color: #143c3c;
  --text-color: #152427;
  --desc-color: #7d8188;
  --font-header: Public Sans, sans-serif;
  --font-footer: Public Sans, sans-serif;
}

html,
body {
  scroll-behavior: smooth;
  scroll-padding-top: 158px;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: "Poppins", sans-serif;
}

/* Common */
a {
  text-decoration: none;
}

input,
textarea,
select,
button {
  font-family: inherit;
  font-size: inherit;
}

.line-clamp {
  display: -webkit-box;
  -webkit-line-clamp: var(--line-clamp, 3);
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.container {
  width: 1140px;
  max-width: calc(100% - 40px);
  margin: 0 auto;
}

.btn {
  --height: 57px;
  display: inline-block;
  min-width: 173px;
  height: var(--height);
  padding: 0 20px;
  border-radius: 40px;
  border: 1.5px solid var(--primary-color);
  font-family: var(--font-header);
  font-weight: 500;
  font-size: 1.8rem;
  line-height: var(--height);
  text-align: center;
  color: #fff;
  background: var(--primary-color);
}

.btn:hover {
  opacity: 0.9;
  cursor: pointer;
}

.image--bg {
  --main-size: 340px;
  position: absolute;
  width: var(--main-size);
  height: var(--main-size);
  border-radius: var(--main-size);
  background: #4dbb9a;
  filter: blur(137px);
  bottom: 81px;
  right: 180px;
  z-index: -1;
}

.section-title {
  font-weight: 500;
  font-size: 1.6rem;
  line-height: 1.625;
  color: var(--text-color);
}

.section-title::before {
  content: "";
  display: inline-block;
  margin-right: 21px;
  margin-bottom: 10px;
  width: 25px;
  height: 1px;
  background: var(--text-color);
}

.section-sub-title {
  max-width: 520px;
  margin-top: 12px;
  font-weight: 600;
  font-size: 4.2rem;
  line-height: 1.2;
  color: var(--text-color);
}

.section-sub-title::after {
  content: "";
  display: inline-block;
  margin-bottom: 6px;
  width: 66px;
  height: 2px;
  background: var(--text-color);
}

/* Header top */
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: #fff;
  z-index: 1000;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.05);
  padding-top: 28px;
  font-family: var(--font-header);
}

.header-top {
  display: flex;
  align-items: center;
}

.navbar {
  margin-left: auto;
}

.navbar__list {
  display: flex;
  align-items: center;
}

.navbar__item {
  position: relative;
}

.navbar__link {
  padding: 8px 19px;
  font-weight: 500;
  font-size: 1.8rem;
  line-height: 1.56;
  color: #575d5e;
}

.navbar__link--active,
.navbar__link:hover {
  color: var(--text-color);
}

.navbar__link--active::after {
  position: absolute;
  left: 21px;
  bottom: -29px;
  content: "";
  display: inline-block;
  width: 16px;
  height: 2px;
  background: var(--primary-color);
}

.header-actions {
  display: flex;
  align-items: center;
  margin-left: 88px;
}

.header__line {
  margin-top: 13px;
  width: 100%;
  height: 1px;
  background: linear-gradient(
    90deg,
    #ffffff 0%,
    #dddcdc 51.09%,
    rgba(213, 213, 213, 0) 99.68%
  );
}

/* Hero */
.hero {
  margin-top: 158px;
  font-family: var(--font-header);
}

.hero__block {
  display: flex;
  justify-content: space-between;
}

.hero__content {
  width: 34.5%;
}

.hero__heading {
  margin-top: 43px;
  max-width: 368px;
  width: 100%;
  font-weight: 800;
  font-size: 5rem;
  line-height: 1.2;
  color: var(--text-color);
}

.hero__desc {
  margin-top: 20px;
  font-weight: 500;
  font-size: 1.8rem;
  line-height: 1.56;
  color: #575d5e;
}

.hero__row {
  display: flex;
  align-items: center;
  margin-top: 42px;
}

.hero__watchvideo {
  display: flex;
  align-items: center;
  margin-left: 36px;
  cursor: pointer;
}

.hero__watchvideo-icon {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* vòng cung svg */
.hero__watchvideo-arc {
  position: absolute;
}

/* vòng tròn nền xanh */
.hero__watchvideo-circle {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background: #83a17d;
  z-index: 1;
}

.hero__watchvideo-text {
  margin-left: 15px;
  font-family: Poppins, serif;
  font-weight: 600;
  font-size: 1.8rem;
  line-height: 1.6;
  color: var(--text-color);
}

.hero__media {
  position: relative;
  max-width: 65.5%;
}

.hero__images {
  display: flex;
  column-gap: 20px;
  margin-right: 25px;
}

.hero__img {
  width: 202px;
  height: 466px;
  object-fit: cover;
  border-radius: 110px;
}

.hero__img:nth-child(2) {
  margin-top: 77px;
}

.hero__images--decor-1 {
  position: absolute;
  top: -32px;
  left: -204px;
  z-index: 1;
}

.hero__images--decor-2 {
  position: absolute;
  transform: rotate(180deg);
  bottom: -64px;
  right: 0;
  z-index: 1;
}

/* Brand */
.brand {
  margin-top: 136px;
  padding: 53px 0;
}

.brand__list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 76px 121px;
  border-radius: 100.5px;
  background: #e2eddf;
}

/* Service */
.service {
  padding: 53px 0 78px;
}

.service__top {
  display: flex;
  justify-content: space-between;
}

.service__control {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 17px;
  margin-top: 79px;
  margin-right: 73px;
}

.service__control--btn {
  width: 54px;
  height: 54px;
  border: none;
  border-radius: 50%;
  color: var(--text-color);
  background: #e2eddf;
  transition: 0.25s;
}

.service__control--btn:hover {
  color: #fff;
  background: var(--primary-color);
  cursor: pointer;
}

.service__images {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 16px;
  margin-top: 76px;
}

.service__item {
  border-radius: 20px;
  overflow: hidden;
  transition: 0.25s;
}

.service__item figure {
  margin: 0;
  overflow: hidden;
}

.service__item:hover {
  background: #fff;
  box-shadow: -6px 9px 64px -4px rgba(118, 118, 118, 0.25);
}

.service__item:hover .service__item-thumb {
  transform: scale(1.03);
}

.service__item:hover .service__item-body {
  padding: 24px 0 23px 18px;
}

.service__item-body {
  padding-top: 24px;
  padding-bottom: 15px;
  transition: padding 0.25s ease;
}

.service__item-thumb {
  width: 370px;
  height: 318px;
  object-fit: cover;
  overflow: hidden;
  transition: 0.25s;
}

.service__item-title {
  font-weight: 600;
  font-size: 2.2rem;
  line-height: 1;
  color: var(--text-color);
}

.service__item-title:hover {
  text-decoration: underline;
}

.service__item-desc {
  margin-top: 18px;
  max-width: 268px;
  font-weight: 500;
  font-size: 1.4rem;
  line-height: 1.7;
  color: var(--desc-color);
}

/* About */
.about {
  padding: 78px 0;
  margin-top: 78px;
}

.about__inner {
  display: flex;
  column-gap: 64px;
}

.about__images {
  position: relative;
}

.about__images figure {
  display: flex;
  column-gap: 21px;
}

.about__img {
  width: 284px;
  height: 480px;
  object-fit: cover;
  border-radius: 210px;
}

.about__img:first-child {
  margin-top: 77px;
}

.about__decor {
  position: absolute;
  top: -30px;
  left: 54px;
}

.about__label {
  position: absolute;
  bottom: 8px;
  right: -9px;
  padding: 0 23px;
  width: 144px;
  height: 144px;
  border-radius: 8px;
  background: #fff;
  font-family: var(--font-header);
  box-shadow: 0px 7px 54px 0px rgba(154, 154, 154, 0.25);
}

.about__label-title {
  margin-top: 19px;
  font-weight: 600;
  font-size: 1.4rem;
  line-height: 1;
  color: var(--text-color);
}

.about__label-desc {
  margin-top: 6px;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.4;
  color: #575d5e;
}

.about__label-percent-block {
  position: relative;
  margin-top: 10px;
}

.about__label-percent {
  font-weight: 500;
  font-size: 1rem;
  line-height: 1.4;
  color: var(--text-color);
}

.about__label-percent::after {
  position: absolute;
  left: 0;
  bottom: 0;
  content: "";
  display: inline-block;
  width: 40px;
  height: 2px;
  background: #83a17d;
  border-radius: 10px;
}

.about__label-percent--line {
  margin-top: 3px;
  width: 96px;
  height: 2px;
  border-radius: 10px;
  background: #eaeaea;
}

.about__label-status {
  margin-top: 3px;
  font-weight: 500;
  font-size: 1rem;
  line-height: 1.4;
  color: var(--text-color);
  text-align: right;
}

.about__label-dot {
  position: relative;
  display: inline-block;
  width: 5px;
  height: 5px;
  background: var(--primary-color);
  border-radius: 50%;
}

.about__label-dot::after {
  content: "";
  position: absolute;
  inset: -3px;
  border: 3px solid #eaeaea;
  border-radius: 50%;
  animation: pulse 1.5s infinite ease-in-out;
}

.about__label-member {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 4px;
}

.about__label-text {
  font-weight: 500;
  font-size: 1rem;
  line-height: 1.4;
  color: var(--text-color);
}

.about__label-avt {
  display: flex;
  justify-content: end;
}

.about__label-avt img {
  margin-left: -5px;
  width: 16px;
  height: 16px;
  object-fit: cover;
  border: 1px solid #fff;
  border-radius: 50%;
}

.about__image--bg {
  --main-size: 200px;
  bottom: 150px;
}

/* About right */
.about__title-line::before {
  margin-bottom: 5px;
}

.about__sub-title-line::after {
  display: none;
}

.about__desc {
  margin-top: 11px;
  font-weight: 500;
  font-size: 1.6rem;
  line-height: 1.6;
  color: var(--desc-color);
}

.about__statistic {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 36px;
}

.about__statistic-strong {
  font-weight: 600;
  font-size: 4.2rem;
  line-height: 1.2;
  color: var(--text-color);
}

.about__statistic-desc {
  max-width: 364px;
  margin-left: 24px;
  font-weight: 500;
  font-size: 1.4rem;
  line-height: 1.7;
  color: var(--desc-color);
}

.about__statistic-line {
  margin-top: 20px;
  width: 485px;
  height: 1px;
  background: #83a17d;
}

/* Process */
.process {
  margin-top: 78px;
  padding: 36px 0 74px;
}

.process_content {
  margin-top: 80px;
}

.process__item {
  position: relative;
  display: flex;
  align-items: center;
  height: 84px;
  margin-top: 46px;
  border-radius: 33px;
  background: transparent;
  transition: all 0.25s;
}

.process__img {
  position: absolute;
  right: 92px;
  bottom: 0;
  width: 450px;
  height: 444px;
  object-fit: cover;
  opacity: 0;
  transition: opacity 0.25s ease;
  pointer-events: none;
}

.process__item::after {
  content: "";
  position: absolute;
  bottom: -25px;
  display: inline-block;
  width: 1131px;
  height: 3px;
  background: linear-gradient(
    180deg,
    #83a17d 4.17%,
    rgba(131, 161, 125, 0) 36.46%
  );
  opacity: 1;
  transition: opacity 0.25s;
}

.process__item:hover::after {
  opacity: 0;
}

.process__item:hover {
  height: 185px;
  background: #e2eddf;

  .process__item-link {
    display: block;
  }

  .process__item-link:hover {
    text-decoration: underline;
  }
}

.process__item:first-child:hover {
  .process__img {
    opacity: 1;
  }
  .process__item-desc {
    opacity: 0;
  }
}

.process__item-number {
  margin-left: 30px;
  width: 109px;
  font-weight: 600;
  font-size: 7.2rem;
  line-height: 1;
  color: var(--primary-color);
}

.process__item-group {
  display: flex;
  flex-direction: column;
}

.process__item-link {
  display: none;
  width: 100px;
  margin-top: 22px;
  margin-left: 67px;
  font-weight: 400;
  font-size: 1.8rem;
  line-height: 1;
  color: #575d5e;
}

.process__item-title {
  width: 176px;
  margin-left: 64px;
  font-weight: 600;
  font-size: 2.2rem;
  line-height: 1;
  color: var(--text-color);
}

.process__item-desc {
  margin-left: 175px;
  width: 572px;
  font-family: var(--font-header);
  font-weight: 500;
  font-size: 1.8rem;
  line-height: 1.5;
  color: var(--desc-color);
  opacity: 1;
  transition: opacity 0.25s;
}

/* Features */
.features {
  margin-top: 74px;
  padding-bottom: 63px;
  background: var(--primary-color);
}

.features__inner {
  display: flex;
  align-items: end;
  padding-top: 116px;
}

.features__sub-title {
  color: #e7f9f9;
}

.features__sub-title::after {
  background: #83a17d;
}

.features__text {
  width: 50%;
  font-family: var(--font-header);
}

.features__desc {
  font-weight: 500;
  font-size: 1.8rem;
  line-height: 1.5;
  color: #6a8383;
}

.features__link {
  display: flex;
  align-items: center;
  margin-top: 13px;
}

.features__more {
  padding-right: 26px;
  font-weight: 500;
  font-size: 1.8rem;
  line-height: 1.5;
  color: #fff;
}

.features__more:hover {
  text-decoration: underline;
}

.features__link-icon:hover {
  cursor: pointer;
}

.features-video {
  position: relative;
  margin-top: 65px;
}

.video__thumb {
  width: 100%;
  height: 544px;
  object-fit: cover;
  border-radius: 22px;
}

.video__play-btn {
  position: absolute;
  left: 50%;
  bottom: calc(50% - 65px);
  transform: translate(-50%);
  width: 118px;
  height: 118px;
  background: rgba(0, 0, 0, 0.7);
  border-radius: 50%;
  border: none;
}

.video__play-btn:hover {
  cursor: pointer;
}

.features__decor {
  position: absolute;
  right: -50px;
  bottom: 240px;
}

/* Share */
.share {
  margin-top: 140px;
  padding-bottom: 92px;
}

.share__heading {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.share__sub-title::after {
  display: none;
}

.share__heading-desc {
  max-width: 547px;
  margin-top: 20px;
  font-weight: 500;
  font-size: 1.6rem;
  line-height: 1.625;
  color: var(--desc-color);
}

.share__list {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(3, 1fr);
  margin-top: 103px;
  text-align: center;
}

.share__item {
  padding-top: 60px;
  width: 350px;
  height: 362px;
  border-radius: 160px;
  border: 1px solid #cecece;
  transition: 0.5s;
}

.share__item:hover {
  transform: translateY(-60px);
  border: none;
  box-shadow: 0px 36px 100px 0px rgba(111, 120, 111, 0.2);
}

.share__item-title {
  margin-top: 24px;
  font-weight: 600;
  font-size: 2rem;
  line-height: 1;
  color: var(--text-color);
}

.share__item-desc {
  max-width: 264px;
  margin: 9px auto 0;
  font-weight: 500;
  font-size: 1.4rem;
  line-height: 1.7;
  color: var(--desc-color);
}

.share__item-desc:first-child {
  max-width: 286px;
}
